<!doctype html>
<html lang="en">

<head>

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
            integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

        <!-- Personal stylesheet -->
        <link rel="stylesheet" href="/assets/style.css">

        <!-- Login button css -->
        <link rel="stylesheet" href="/assets/lgin-btn.css">

        <!-- Montserrat font -->
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

        <title>Login</title>
    </head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">
            <img src="../assets/Assets/Logo.png" style="height: 50px; width: auto; margin-left: 15px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Find</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">FAQ</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <div class="navigation">
                    <a class="loginb-btn" href="">
                        <img class="powerbuttonimg" src="/assets/Assets/powerbuttongreen.png">
                        <div class="loginb">LOGIN</div>
                    </a>
                </div>
            </form>
        </div>
    </nav>

    <form class="logincont">
        <h1 class="gradient-text">SHIHAN</h1>
        <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" class="login-inputs" placeholder="Enter Username" id="uname" name="uname" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" class="login-inputs" placeholder="Enter Password" name="psw" required>
            <div class="alert alert-danger" role="alert">
                Wrong username or password
            </div>
            <div class="loginbtn-container">
                <button class="loginbtn" type="submit">Login</button>
            </div>
        </div>
        <div class="container">
            <span class="signup">Don't have an account? <a href="/register"><strong>Sign up</strong></a></span>
        </div>
    </form>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

    <script>
        $(function () {
            $(".alert").hide()
            $('.logincont').on("submit", function (e) {
                var formData = $(this).serialize()
                e.preventDefault()
                $.ajax({
                    type: "POST",
                    url: "/auth",
                    data: formData,
                    success: function (res) {
                        if (res == "success") location.href = "/"
                        else if (res == "verify") location.href = "/verify/" + $('#uname').val()
                        else $(".alert").show()
                    }
                })
            })
        })
    </script>
</body>

</html>
